/*--- AZZERAMENTO ---*/
 *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*--- NAV-BAR ---*/

.navbar-default {
  border: 0;
  font-family: 'Montserrat', sans-serif ;
  font-weight: 700;

}

.container-fluid{
background-color: #2c3e50;
padding-top: 1rem;
padding-bottom: 1.5rem;
}

.navbar-default  .navbar-nav>li>a {
color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
color: #1abc9c;
background-color: transparent;
}
/*--- MAIN ---*/

/*--- BACKGROUND SECTION START BOOTSREAP ---*/

.bg-green{
  background-color: #1abc9c;
  text-align: center;
}

.trasparente{
  background-color: transparent;
}
.trasparente > img{
  margin-top: 150px;
}

img{
  margin-top: 50px;
  height: 250px;
  border-radius: 15px;
}

.color-white{
  color: white;
}
/*--- STELLA + LINEA ---*/
.divisore{
  width: 30%;
  margin: 0 auto;
  margin-top: 40px;
  /* margin-bottom: 10px; */
}
.divisore i {
  font-size: 32px;
}
.divisore::before, .divisore::after{
  content: " ";
  display: block;
  width: 40%;
  height: 4px;
  margin-top: 12px;
  background-color: white;
}
.divisore::before{
  float: left;
}
.divisore::after{
  float: right;
}

.fa-star{
  color: white;
}

.trasparente > h1{
  font-size: 65px;
}

.trasparente > p{
margin-top: 41px;
font-size: 25px;
margin-bottom: 67px;
}

/*--- SECTION PORTFOLIO ---*/

#portfolio{
  background-color: lightgrey;
  /* height: 1000px; */
  padding-bottom: 70px;
}

#prtfolio .text-center .divisore > i{
  margin-bottom: -50px;
}

.text-center{
  text-align: center;
}

.black{
  color: black;
}

.color-black::before, .color-black:after{
  background-color: black;
}

#portfolio .text-center > h1{
  margin-top: 60px;
  font-size: 48px;
}

.text-left{
  text-align: left;
}

/*--- bhoooo ---*/

#portfolio .container .row > .col-lg-4{
  position: relative;
}
  #portfolio .col-lg-4 .contenitore > .fas{
  display: none;
  font-size: 50px;
  position: absolute;
  left: 46%;
  right: 70%;
  top: 50%;
}
 .contenitore > .fas:hover{
  display: block;
}
#portfolio .col-lg-4 > .contenitore:hover{
  /* background-image: url(../assets/img/cabin.png);
  background-color: rgba(0, 0, 0, 0.5);*/

   opacity: 0.2;
   border-radius: 10px;
   /* background-color: green; */
}

/*--- SECTION ABOUT ---*/

#about .container > h1{
  margin-top: 80px;
  font-size: 48px;
}

.col-lg-4 > p{
  margin-top: 60px;
  font-size: 20px;
  margin-left: 10px;
}

.btn{
  background-color:transparent;
  border: 1px solid white;
  padding: 20px 40px;
  margin-top: 40px;
  margin-bottom: 80px;
}
#about .container .btn:hover{
  background-color: white;
}


/*--- SECTION CONTACT ---*/

.contact-me{
  height: 100vh;
}
.contact-me > h1{
  margin-top: 50px;
  font-size: 48px;
}

.mg-bottom{
  margin-bottom: 30px;
}
.form .btn-xl{
 margin-right: 595px;
}

.container > input, textarea{
  margin-top: 30px;
  margin-left: 220px;
  padding-bottom: 20px;
  display: block;
  border: 0;
  border-bottom: 1px solid lightgrey;
  width: 60%;
  margin-bottom: 20px;
  font-size: 24px;
}
.my-btn-primary{
  background-color: #1abc9c;
  color: white;

}

/*--- FOOTER ---*/


footer .container .row .col-lg-4{
  margin-top: 50px;
  margin-bottom: 50px;
}

footer .container .row .col-lg-4 > p{
    margin-top: 20px;
    /* margin-left: -3px;
    width: 70%; */
}
footer .container .row .col-lg-4 > ul li{
  margin-top: 20px;
}
.spazio{
  width: 95%;
}
ul li{
  text-decoration: none;
  list-style: none;
  display:inline-block;
  padding-right: 10px;
}
footer ul li i:hover{
  background-color: white;
  color: black;
}
.col-lg-4 > ul li > i{
  border: 2px solid white;
  width: 44px;
  height: 42px;
  border-radius: 50px;
  /* padding-left: 9px;*/
  padding-top: 7px;
}

 .fab{
  font-size: 25px;
  color: white;
}
#speciale:hover{
  text-decoration:underline;

}
#speciale{
  color:#1abc9c;
}

.copyright{
  background-color: #1A252F;
  width: 100%;
  height: 70px;
  line-height: 70px;
}

@media all and (max-width: 699px) {
  .divisore{
    width: 58%;
  }
}

@media all and (min-widht: 0px) and (max-width: 742px) {
  html{
    width: 100%;
  }
}
