/*--- AZZERAMENTO ---*/
 *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*--- NAV-BAR ---*/

.navbar-default {
  border: 0;
  font-family: 'Montserrat', sans-serif ;
  font-weight: 700;

}

.container-fluid{
background-color: #2c3e50;
padding-top: 1rem;
padding-bottom: 1.5rem;
}

.navbar-default  .navbar-nav>li>a {
color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
color: #1abc9c;
background-color: transparent;
}
/*--- MAIN ---*/

/*--- BACKGROUND SECTION START BOOTSREAP ---*/

.bg-green{
  background-color: #1abc9c;
  text-align: center;
}

.trasparente{
  background-color: transparent;
}
.trasparente > img{
  margin-top: 150px;
}

img{
  margin-top: 50px;
  height: 250px;
  border-radius: 15px;
}

.color-white{
  color: white;
}
/*--- STELLA + LINEA ---*/
.divisore{
  width: 30%;
  margin: 0 auto;
  margin-top: 40px;
  /* margin-bottom: 10px; */
}
.divisore i {
  font-size: 32px;
}
.divisore::before, .divisore::after{
  content: " ";
  display: block;
  width: 40%;
  height: 4px;
  margin-top: 12px;
  background-color: white;
}
.divisore::before{
  float: left;
}
.divisore::after{
  float: right;
}

.fa-star{
  color: white;
}

.trasparente > h1{
  font-size: 65px;
}

.trasparente > p{
margin-top: 41px;
font-size: 25px;
margin-bottom: 67px;
}

/*--- SECTION PORTFOLIO ---*/

.portfolio{
  background-color: lightgrey;
  /* height: 1000px; */
  padding-bottom: 70px;
}

.prtfolio .text-center .divisore > i{
  margin-bottom: -50px;
}

.text-center{
  text-align: center;
}

.black{
  color: black;
}

.color-black::before, .color-black:after{
  background-color: black;
}

.portfolio .text-center > h1{
  margin-top: 30px;
  font-size: 40px;
}

.text-left{
  text-align: left;
}

.col-lg-4 > p{
  margin-top: 60px;
  font-size: 20px;
  margin-left: 10px;
}

.btn{
  background-color:transparent;
  border: 2 solid white;
}

/*--- SECTION CONTACT ---*/
.contact-me{
  height: 100vh;
}
.contact-me > h1{
  margin-top: 50px;
}

.mg-bottom{
  margin-bottom: 30px;
}
.form .btn-xl{
 margin-right: 650px;
}

.container > input, textarea{
  margin-top: 30px;
  margin-left: 220px;
  padding-bottom: 20px;
  display: block;
  border: 0;
  border-bottom: 1px solid lightgrey;
  width: 60%;
  margin-bottom: 20px;
  font-size: 24px;
}
.my-btn-primary{
  background-color: #1abc9c;
  color: white;
}




@media all and (max-width: 699px) {
  .divisore{
    width: 58%;
  }
}
